<div>
	<mat-form-field class="example-chip-list">
		<mat-label>Favorite Fruits</mat-label>
		<mat-chip-grid #chipGrid aria-label="Fruit selection">
			<mat-chip-row *ngFor="let fruit of value" (removed)="remove(fruit)">
				{{ fruit.name }}
				<button type="button" matChipRemove [attr.aria-label]="'remove ' + fruit">
					<mat-icon>cancel</mat-icon>
				</button>
			</mat-chip-row>
		</mat-chip-grid>
		<input
			placeholder="New Genre..."
			#genresInput
			[formControl]="conrol"
			[matChipInputSeparatorKeyCodes]="separatorKeysCodes"
			[matChipInputFor]="chipGrid"
			(focusin)="onFocusIn()"
			(focusout)="onFocusOut()"
			(matChipInputTokenEnd)="add($event)"
		/>
		<ul
			class="auto-complete"
			infiniteScroll
			[scrollWindow]="false"
			[infiniteScrollDistance]="2"
			(scrolled)="onScroll()"
		>
			<li (click)="selected(fruit)" *ngFor="let fruit of filteredGenres | async">
				{{ fruit.name }}
			</li>
			<!-- <div>
				<camp-spinner />
			</div> -->
		</ul>
	</mat-form-field>
</div>
