/* Global styles. */
@import url("./variables.css");

html,
body {
  height: 100%;
}

body {
  margin: 0 auto;
  background-color: var(--background-primary-color);
  color: var(--primary-contrast-color);
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

button {
  border: none;
}

a,
a:visited {
  text-decoration: none;
}
