:root {
  /* colors */
  --spinner-background-color: rgb(0 0 0 /80%);
  --background-primary-color: #424242;

  /* margins and paddings */
  --space-md: 16px;
  --space-lg: calc(var(--space-md) * 2);
  --space-xl: calc(var(--space-md) * 4);
}
