<div class="image-container">
	<img class="image" *ngIf="imageUrl$ | async as imageUrl" [src]="imageUrl" alt="new or editted image" />
	<camp-spinner class="image-spinner" *ngIf="isLoading$ | async" />
	<div class="image-button-container">
		<button (click)="triggerInput()" mat-icon-button type="button"><mat-icon>insert_photo</mat-icon></button>
		<span>Add image</span>
	</div>
	<input
		#imageInput
		class="image-input"
		accept="image/*"
		type="file"
		[formControl]="innerControl"
		(change)="uploadFile($event)"
	/>
</div>
