.auto-complete {
  max-height: 150px;
  overflow-y: auto;
  list-style: none;
  padding: 0;
}

.auto-complete__item {
  cursor: pointer;
}

.auto-complete__item:hover {
  color: var(--primary-color);
}
