<div class="anime" *ngIf="anime$ | async as anime">
	<div class="anime__actions">
		<button mat-icon-button type="button" (click)="openDeleteConfirmationDialog()">
			<mat-icon color="warn" aria-label="delete">delete</mat-icon>
		</button>
		<button mat-icon-button type="button" (click)="navigateToEditPage()">
			<mat-icon aria-label="edit">edit</mat-icon>
		</button>
		<button type="button"(click)="navigateToCreatePage()"  mat-raised-button>Create anime</button>
	</div>
	<h2 class="anime__title">{{ anime.titleEnglish | empty }}</h2>
	<h2 class="anime__title">{{ anime.titleJapanese | empty }}</h2>
	<div class="anime__details details">
		<div class="details__image-container">
			<img class="details-image" [alt]="anime.titleEnglish" [src]="anime.imageUrl" />
			<button color="primary" mat-raised-button type="button" (click)="openDialog(anime.imageUrl, anime.titleEnglish)">
				Open image
			</button>
		</div>
		<article class="details__description">
			<p class="details__description-text">
				<span class="details__description-text_bold">Season:</span> {{ season.toReadable(anime.season) }}
			</p>
			<p class="details__description-text">
				<span class="details__description-text_bold">Synopsis:</span> {{ anime.synopsis | empty }}
			</p>
			<p class="details__description-text">
				<span class="details__description-text_bold">Airing:</span> {{ anime.airing | yesOrNo | empty }}
			</p>
			<p class="details__description-text">
				<span class="details__description-text_bold">Date start:</span> {{ anime.aired.start | date | empty }}
			</p>
			<p class="details__description-text">
				<span class="details__description-text_bold">Date end:</span> {{ anime.aired.end | date | empty }}
			</p>
			<p class="details__description-text">
				<span class="details__description-text_bold">Genres:</span> {{ genresToReadable(anime.genres) | empty }}
			</p>
			<p class="details__description-text">
				<span class="details__description-text_bold">Studios:</span> {{ studiosToReadable(anime.studios) | empty }}
			</p>
			<p class="details__description-text">
				<span class="details__description-text_bold">Rating:</span> {{ anime.rating | empty }}
			</p>
			<p class="details__description-text">
				<span class="details__description-text_bold">Source:</span> {{ source.toReadable(anime.source) | empty }}
			</p>
			<p class="details__description-text">
				<span class="details__description-text_bold">Type:</span> {{ animeType.toReadable(anime.type) | empty }}
			</p>
			<p class="details__description-text">
				<span class="details__description-text_bold">Status:</span> {{ animeStatus.toReadable(anime.status) | empty }}
			</p>
			<p class="details__description-text">
				<span class="details__description-text_bold">Created:</span> {{ anime.created | date | empty }}
			</p>
			<p class="details__description-text">
				<span class="details__description-text_bold">Modified:</span> {{ anime.modified | date | empty }}
			</p>
			<camp-video-player class="details__video" [videoUrl]="anime.trailerYoutubeUrl" />
		</article>
	</div>
</div>
<camp-spinner *ngIf="isLoading$ | async" class="spinner" />
