/* recurring styles */

.container {
  width: 1244px;
  margin: 0 auto;
}

/* header */

.header {
  margin-bottom: 8px;
}

.header__container {
  padding: 20px 0;
  border-bottom: 1px solid var(--border-color);
}

/* filtered-books */

.filtered-books {
  display: flex;
}

.filtered-books__container {
  margin-right: 24px;
}

.filtered-books__container::-webkit-scrollbar {
  display: none;
}

.filtered-books__list {
  max-width: 900px;
}

.filtered-books__item {
  margin-bottom: 40px;
  position: relative;
}

.filtered-books__item:last-child {
  margin-bottom: 24px;
}

.filtered-cards__list {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.filtered-cards__subtitle {
  position: sticky;
  top: 0;
  margin-bottom: 16px;
  padding-top: 16px;
  padding-bottom: 8px;
  outline: var(--primary-color) 1px solid;
  background-color: var(--primary-color);
}

.filtered-cards__item {
  width: 167px;
  height: 306px;
}

.filtered-cards__card .card__header {
  margin-bottom: 8px;
}

.filtered-cards__card .card__image-container {
  width: 100%;
}

.filtered-cards__card .card__image {
  border-radius: 24px;
  outline: 1px solid var(--image-outline-color);
}

.filtered-cards__card .card__title {
  overflow: hidden;
  text-overflow: ellipsis;
  height: 48px;
}

/* filter */

.filtered-books__filter {
  position: sticky;
  top: 0;
  align-self: flex-start;
  width: 320px;
  padding-top: 16px;
  outline: var(--primary-color) 1px solid;
}

.filter__form {
  display: flex;
  flex-direction: column;
  gap: 24px 0;
}

.filter__form .form__element {
  padding: 8px 16px;
  border-radius: 16px;
  height: 48px;
  font-size: 20px;
  line-height: 32px;
}

.filter__form .form__element::placeholder {
  color: var(--primary-dim-color);
}

.filter__form .form__element:last-child {
  margin-bottom: 0;
}

.filter__form .form__element--input {
  padding-left: 48px;
  background-image: url("../images/icons/search.svg");
  background-repeat: no-repeat;
  background-position: 16px;
  background-color: var(--primary-alternative-contrast-color);
}

.filter__form .form__element--select {
  appearance: none;
  background: url("../images/icons/arrow.svg");
  background-repeat: no-repeat;
  background-position: calc(100% - 16px) center;
  background-color: var(--primary-alternative-contrast-color);
}

.filter__form .form__element:focus {
  color: var(--primary-contrast-color);
}

.filter__form .form__element--select:invalid:not(:focus) {
  color: var(--primary-dim-color);
}

.filter__form .form__element--checkbox-container {
  display: flex;
  align-items: center;
  height: 32px;
  padding: 0;
  font-size: 20px;
  color: var(--primary-contrast-color);
  gap: 0 16px;
}

.filter__form .form__element--checkbox {
  position: relative;
  padding: 4px;
  appearance: none;
  width: 20px;
  height: 20px;
  border: 2px solid var(--border-color);
  border-radius: 4px;
}

.filter__form .form__element--checkbox:checked {
  border-color: var(--checkbox-color);
}

.filter__form .form__element--checkbox::after {
  content: "";
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 10px;
  height: 10px;
  transform: translate(-50%, -50%);
  background-color: var(--checkbox-color);
  border-radius: 2px;
}

.filter__form .form__element--checkbox:checked::after {
  display: block;
}

.filter__title {
  margin-bottom: 24px;
}

/* footer */

.footer__container {
  padding: 24px 0;
  display: flex;
  justify-content: space-between;
  border-top: 1px solid var(--border-color);
}

.footer .information-section__license {
  margin-right: 32px;
  color: var(--primary-contrast-color);
}

.footer .information-section__href {
  color: var(--primary-contrast-color);
  border-bottom: 1px solid var(--primary-contrast-color);
}

@media screen and (max-width: 1280px) {
  .container {
    width: 1024px;
  }

  .filtered-books__filter {
    width: 276px;
  }
}

@media screen and (max-width: 1024px) {
  .container {
    width: 752px;
  }

  .filtered-books {
    flex-direction: column-reverse;
  }

  .filtered-books__container {
    margin-right: 0;
  }

  .filtered-books__filter {
    top: 0;
    width: 100%;
    padding-bottom: 24px;
    border-bottom: 1px solid var(--border-color);
    background-color: var(--primary-color);
  }

  .filtered-cards__subtitle {
    top: 132px;
  }

  .filter__form {
    flex-direction: row;
    gap: 0 16px;
  }

  .filter__form .form__element {
    width: 100%;
    align-self: center;
  }
}

@media screen and (max-width: 768px) {
  .container {
    width: 464px;
  }

  .filtered-cards__subtitle {
    padding-top: 24px;
    top: 264px;
  }

  .filtered-books__filter {
    padding-bottom: 24px;
  }

  .filter__form {
    flex-direction: column;
    gap: 24px;
  }
}

@media screen and (max-width: 480px) {
  .container {
    width: 312px;
  }

  .filtered-cards__item {
    width: 148px;
    height: 278px;
  }

  .footer__container {
    flex-direction: column;
  }

  .footer__information-section {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
  }

  .footer__navigate-section {
    text-align: end;
  }
}
