.subtitle {
  font-size: var(--font-size-lg);
  line-height: 24px;
  font-weight: 600;
  text-transform: uppercase;
}

.body--small {
  font-size: var(--font-size-md);
  font-weight: 500;
  line-height: 24px;
}

.logo {
  font-size: var(--font-size-xl);
  font-weight: 700;
  line-height: 24px;
}
