:root {
  --primary-color: rgb(255 255 255 / 100%);
  --primary-contrast-color: rgb(0 0 0 / 100%);
  --primary-dim-color: rgb(0 0 0 / 50%);
  --primary-alternative-contrast-color: rgb(0 0 0 / 5%);
  --border-color: rgb(0 0 0 / 15%);
  --checkbox-color: rgb(241 89 36 / 100%);
  --image-outline-color: rgb(0 0 0 / 10%);
}
