<div class="auth-container">
	<h1 class="auth-title">Register</h1>
	<div class="auth-common-errors-container" *ngIf="commonErrors$ | async as errors">
		<mat-error *ngIf="commonErrors$ | async as error">
			{{ error }}
		</mat-error>
	</div>
	<form [formGroup]="registerForm" (ngSubmit)="register()" class="auth-form">
		<mat-form-field color="accent">
			<mat-label color="accent">Email</mat-label>
			<input formControlName="email" matInput />
			<mat-error *ngIf="registerForm.controls['email'].hasError('required') && registerForm.controls['email'].touched">
				{{ "Email" | errorMessage : "required" }}
			</mat-error>
			<mat-error *ngIf="registerForm.controls['email'].hasError('email') && registerForm.controls['email'].touched">
				{{ "Email" | errorMessage : "email" }}
			</mat-error>
			<mat-error *ngIf="registerForm.controls['email'].getError('invalid') as error">
				{{ error }}
			</mat-error>
		</mat-form-field>
		<mat-form-field color="accent">
			<mat-label color="accent">First name</mat-label>
			<input formControlName="firstName" matInput />
			<mat-error
				*ngIf="registerForm.controls['firstName'].hasError('required') && registerForm.controls['firstName'].touched"
			>
				{{ "First name" | errorMessage : "required" }}
			</mat-error>
			<mat-error *ngIf="registerForm.controls['firstName'].getError('invalid') as error">
				{{ error }}
			</mat-error>
		</mat-form-field>
		<mat-form-field color="accent">
			<mat-label color="accent">Last name</mat-label>
			<input formControlName="lastName" matInput />
			<mat-error
				*ngIf="registerForm.controls['lastName'].hasError('required') && registerForm.controls['lastName'].touched"
			>
				{{ "Last name" | errorMessage : "required" }}
			</mat-error>
			<mat-error *ngIf="registerForm.controls['lastName'].getError('invalid') as error">
				{{ error }}
			</mat-error>
		</mat-form-field>
		<mat-form-field color="accent">
			<mat-label color="accent">Password</mat-label>
			<input type="password" formControlName="password" matInput />
			<mat-error
				*ngIf="registerForm.controls['password'].hasError('minlength') && registerForm.controls['password'].touched"
			>
				{{ "Password" | errorMessage : "minlength" }}
			</mat-error>
			<mat-error
				*ngIf="registerForm.controls['password'].hasError('required') && registerForm.controls['password'].touched"
			>
				{{ "Password" | errorMessage : "required" }}
			</mat-error>
			<mat-error *ngIf="registerForm.controls['password'].getError('invalid') as error">
				{{ error }}
			</mat-error>
		</mat-form-field>
		<mat-form-field color="accent">
			<mat-label color="accent">Repeat password</mat-label>
			<input type="password" formControlName="repeatPassword" matInput />
			<mat-error
				*ngIf="
					registerForm.controls['repeatPassword'].hasError('minlength') &&
					registerForm.controls['repeatPassword'].touched
				"
			>
				{{ "Repeated password" | errorMessage : "minlength" }}
			</mat-error>
			<mat-error
				*ngIf="
					registerForm.controls['repeatPassword'].hasError('required') &&
					registerForm.controls['repeatPassword'].touched
				"
			>
				{{ "Repeated password" | errorMessage : "required" }}
			</mat-error>
			<mat-error
				*ngIf="
					registerForm.controls['repeatPassword'].hasError('matchError') &&
					registerForm.controls['repeatPassword'].touched
				"
			>
				{{ "Passwords" | errorMessage : "matchError" }}
			</mat-error>
		</mat-form-field>
		<button class="auth-submit" type="submit" mat-raised-button color="primary">Register</button>
	</form>
	<a routerLink="/auth/login" class="auth-link" href="">Already have an account?</a>
	<div *ngIf="isLoading$ | async" class="auth-spinner">
		<camp-spinner />
	</div>
</div>
