<div class="auth-container">
	<h1 class="auth-title">Register</h1>
	<form [formGroup]="registrationForm" (ngSubmit)="onSubmit()" class="auth-form">
		<mat-form-field color="accent">
			<mat-label color="accent">Email</mat-label>
			<input formControlName="email" matInput />
			<mat-error *ngIf="hasRequiredError('email')">
				{{ "Email" | errorMessage : "required" }}
			</mat-error>
			<mat-error *ngIf="isEmailValid">
				{{ "Email" | errorMessage : "email" }}
			</mat-error>
			<mat-error *ngIf="getGeneralFieldErrors('email') as error">
				{{ error }}
			</mat-error>
		</mat-form-field>
		<mat-form-field color="accent">
			<mat-label color="accent">First name</mat-label>
			<input formControlName="firstName" matInput />
			<mat-error *ngIf="hasRequiredError('firstName')">
				{{ "First name" | errorMessage : "required" }}
			</mat-error>
			<mat-error *ngIf="getGeneralFieldErrors('firstName') as error">
				{{ error }}
			</mat-error>
		</mat-form-field>
		<mat-form-field color="accent">
			<mat-label color="accent">Last name</mat-label>
			<input formControlName="lastName" matInput />
			<mat-error *ngIf="hasRequiredError('lastName')">
				{{ "Last name" | errorMessage : "required" }}
			</mat-error>
			<mat-error *ngIf="getGeneralFieldErrors('lastName') as error">
				{{ error }}
			</mat-error>
		</mat-form-field>
		<mat-form-field color="accent">
			<mat-label color="accent">Password</mat-label>
			<input type="password" formControlName="password" matInput />
			<mat-error *ngIf="hasMinLengthError('password')">
				{{ "Password" | errorMessage : "minlength" }}
			</mat-error>
			<mat-error *ngIf="hasRequiredError('password')">
				{{ "Password" | errorMessage : "required" }}
			</mat-error>
			<mat-error *ngIf="getGeneralFieldErrors('password') as error">
				{{ error }}
			</mat-error>
		</mat-form-field>
		<mat-form-field color="accent">
			<mat-label color="accent">Repeat password</mat-label>
			<input type="password" formControlName="repeatPassword" matInput />
			<mat-error *ngIf="hasMinLengthError('repeatPassword')">
				{{ "Repeated password" | errorMessage : "minlength" }}
			</mat-error>
			<mat-error *ngIf="hasRequiredError('repeatPassword')">
				{{ "Repeated password" | errorMessage : "required" }}
			</mat-error>
			<mat-error *ngIf="hasPasswordMatch">
				{{ "Passwords" | errorMessage : "matchError" }}
			</mat-error>
		</mat-form-field>
		<button class="auth-submit" type="submit" mat-raised-button color="primary">Register</button>
	</form>
	<a routerLink="/auth/login" class="auth-link" href="">Already have an account?</a>
	<a routerLink="/animes" class="auth-link">Go to main page</a>
	<div *ngIf="isLoading$ | async" class="auth-spinner">
		<camp-spinner />
	</div>
</div>
