.form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.form__item {
  width: 49%;
}

.form__item_synopsis {
  width: 100%;
}

.form__item-textarea {
  min-height: 150px;
}

.form__item_image {
  display: flex;
  justify-content: center;
}

.form__submit {
  width: 52%;
  margin: 0 auto;
}

.form-container {
  padding: var(--space-lg);
}

.form-title {
  text-align: center;
  font-weight: 600;
}
