<div class="form-container">
	<h1 class="form-title">{{ title }}</h1>
	<form [formGroup]="form" class="form" (ngSubmit)="onSubmit()">
		<camp-custom-form-select
			class="form__item"
			placeholder="Studios"
			formControlName="studios"
			[items]="studios$ | async"
			[addedItem]="addedStudio$ | async"
			(getItems)="getStudios($event)"
			(getAddedItem)="createStudios($event)"
		/>

		<camp-custom-form-select
			class="form__item"
			placeholder="Genres"
			formControlName="genres"
			[items]="genres$ | async"
			[addedItem]="addedGenre$ | async"
			(getItems)="getGenres($event)"
			(getAddedItem)="createGenres($event)"
		/>

		<mat-form-field class="form__item">
			<mat-label>Status</mat-label>
			<mat-select formControlName="status">
				<mat-option *ngFor="let status of statuses" [value]="status">
					{{ status | readableAnimeStatus }}
				</mat-option>
			</mat-select>
		</mat-form-field>

		<mat-form-field class="form__item">
			<mat-label>Seasons</mat-label>
			<mat-select formControlName="season">
				<mat-option *ngFor="let season of seasons" [value]="season">
					{{ season | readableSeason }}
				</mat-option>
			</mat-select>
		</mat-form-field>

		<mat-form-field class="form__item">
			<mat-label>Ratings</mat-label>
			<mat-select formControlName="rating">
				<mat-option *ngFor="let rating of ratings" [value]="rating">
					{{ rating | readableRating }}
				</mat-option>
			</mat-select>
		</mat-form-field>

		<mat-form-field class="form__item">
			<mat-label>Source</mat-label>
			<mat-select formControlName="source">
				<mat-option *ngFor="let source of sources" [value]="source">
					{{ source | readableSource }}
				</mat-option>
			</mat-select>
		</mat-form-field>

		<mat-form-field class="form__item">
			<mat-label>Types</mat-label>
			<mat-select formControlName="type">
				<mat-option *ngFor="let type of types" [value]="type">
					{{ type | readableAnimeType }}
				</mat-option>
			</mat-select>
		</mat-form-field>

		<mat-form-field class="form__item">
			<span>Youtube trailer url</span>
			<input
				matInput
				formControlName="trailerYoutubeUrl"
				placeholder="Example: https://www.youtube.com/embed/QczGoCmX-pI"
			/>
		</mat-form-field>

		<mat-form-field class="form__item form__item_synopsis">
			<mat-label>Synopsis</mat-label>
			<textarea
				class="form__item-textarea"
				formControlName="synopsis"
				matInput
				placeholder="My opinion is..."
			></textarea>
		</mat-form-field>

		<mat-form-field class="form__item">
			<input matInput formControlName="titleEnglish" placeholder="English title" />
		</mat-form-field>

		<mat-form-field class="form__item">
			<input matInput formControlName="titleJapanese" placeholder="Japanese food" />
		</mat-form-field>

		<mat-form-field class="form__item">
			<mat-label>Enter an aired dates</mat-label>
			<mat-date-range-input [formGroup]="form.controls.aired" [rangePicker]="picker">
				<input matStartDate [formControl]="form.controls.aired.controls.start" placeholder="Start date" />
				<input matEndDate [formControl]="form.controls.aired.controls.end" placeholder="End date" />
			</mat-date-range-input>
			<mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
			<mat-date-range-picker #picker></mat-date-range-picker>
		</mat-form-field>

		<mat-checkbox class="form__item" [formControl]="form.controls.airing">Airing</mat-checkbox>

		<mat-form-field class="form__item">
			<mat-label>Was created in...</mat-label>
			<input matInput formControlName="created" [matDatepicker]="picker1" />
			<mat-datepicker-toggle matIconSuffix [for]="picker1"></mat-datepicker-toggle>
			<mat-datepicker #picker1></mat-datepicker>
		</mat-form-field>

		<mat-form-field class="form__item">
			<mat-label>Was moodified in...</mat-label>
			<input matInput formControlName="modified" [matDatepicker]="picker2" />
			<mat-datepicker-toggle matIconSuffix [for]="picker2"></mat-datepicker-toggle>
			<mat-datepicker #picker2></mat-datepicker>
		</mat-form-field>

		<div class="form__item form__item_image">
			<camp-custom-image-uploader
				[defaultImage]="form.controls.image.getRawValue()"
				[formControl]="form.controls.image"
			/>
			<mat-error *ngIf="form.controls.image.hasError('uploadImage')">
				{{ "Image" | errorMessage : "uploadImage" }}
			</mat-error>
		</div>

		<button class="form__submit" mat-raised-button color="primary" type="submit">Save</button>
	</form>
</div>
