<camp-spinner *ngIf="isLoading$ | async"></camp-spinner>

<div *ngIf="animeResponse$ | async as animeResponse" class="animes">
	<div class="animes__search">
		<form [formGroup]="form" (ngSubmit)="onSubmit()" class="animes__form form">
			<mat-form-field color="accent" class="form__field">
				<mat-label color="accent">Search</mat-label>
				<input formControlName="search" matInput />
			</mat-form-field>
			<mat-form-field color="accent">
				<mat-label>Filters</mat-label>
				<mat-select formControlName="filters" multiple>
					<mat-option *ngFor="let filter of filters" [value]="filter">{{ filter }}</mat-option>
				</mat-select>
			</mat-form-field>
			<button class="form__submit" type="submit" mat-button color="accent">Find</button>
		</form>
	</div>
	<table
		matSort
		(matSortChange)="changeSortParameter($event)"
		aria-label="Table of animes"
		mat-table
		[dataSource]="animeResponse.results"
		class="animes__table"
	>
		<ng-container matColumnDef="image">
			<th mat-header-cell *matHeaderCellDef>Image</th>
			<td mat-cell *matCellDef="let anime">
				<img alt="{{ anime.titleEnglish }}" class="anime__image" src="{{ anime.image }}" />
			</td>
		</ng-container>
		<ng-container matColumnDef="titleJapanese">
			<th mat-header-cell *matHeaderCellDef>Japanese Title</th>
			<td mat-cell *matCellDef="let anime">{{ anime.titleJapanese }}</td>
		</ng-container>
		<ng-container matColumnDef="titleEnglish">
			<th mat-sort-header="titleEnglish" mat-header-cell *matHeaderCellDef>English Title</th>
			<td mat-cell *matCellDef="let anime">{{ anime.titleEnglish }}</td>
		</ng-container>
		<ng-container matColumnDef="start aired">
			<th mat-sort-header="aired.start" mat-header-cell *matHeaderCellDef>Start</th>
			<td mat-cell *matCellDef="let anime">{{ anime.aired.start | date }}</td>
		</ng-container>
		<ng-container matColumnDef="status">
			<th mat-sort-header="status" mat-header-cell *matHeaderCellDef>Status</th>
			<td mat-cell *matCellDef="let anime">{{ anime.status }}</td>
		</ng-container>
		<ng-container matColumnDef="type">
			<th mat-header-cell *matHeaderCellDef>Type</th>
			<td mat-cell *matCellDef="let anime">{{ anime.type }}</td>
		</ng-container>
		<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
		<tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
	</table>
	<mat-paginator
		(page)="getNextPage($event)"
		[pageIndex]="page$ | async"
		[length]="animeResponse.count"
		[pageSize]="1"
		[pageSizeOptions]="[1, 5, 10]"
		class="animes__paginator"
		aria-label="Select page of Anime search results"
	></mat-paginator>
</div>
