.auth-container {
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.auth-form {
  width: 450px;
  display: flex;
  flex-direction: column;
}

.auth-title {
  text-align: center;
  font-size: 40px;
  margin-bottom: var(--space-lg);
}

.auth-spinner {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
  background-color: var(--spinner-background-color);
}

.auth-submit {
  margin-bottom: var(--space-sm);
}

.auth-link {
  text-decoration: none;
  color: var(--primary-contrast-color);
}

.auth-common-errors-container {
  margin-bottom: var(--space-md);
}
